body{
	background-color:#e0eaf6;
	
}

@font-face{
	font-family:"Just tell me what"; 
	src:url('../font/Just_tell_me_what_regular.otf');

} /* Kode Import Font */


.huruf{
	font-family: "Just Tell Me What";
	color: rgb(89,89,91);
	font-size: 48.18px;
	margin-top: 10%;
	margin-left: 20%;
	text-align: center;
}

.huruf2{
	font-family: "Just Tell Me What";
	color: rgb(89,89,91);
	font-size: 48.18px;
	margin-top: -1%;
	margin-left: 20%;
	text-align: center;
}

.pinggir{
	
	margin-top: 30%;
}